a {
  display: none;
}

div.report {
  display: table;
  margin: 0 auto;
  min-width: 500px;
}

div.report div {
  width: 100%;
}

table.report {
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: 9pt;
  margin: 0 auto;
}

.report_cells td {
  border: 1px solid grey;
  padding: 2px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
}

.table thead th,
.table thead td {
  border-bottom-width: 2px;
}

/*# sourceMappingURL=report.css.map */
